<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:slnt,wght@-8,100..1000&family=Protest+Strike&display=swap" rel="stylesheet">

</head>
<body>
    <div class="login">
    <div class="pic">
        <img src="/images/32781.jpg" alt="">
       
    </div>
    <div class="loginform">
        <H1>TASK MANAGER</H1>
        
        <div class="form">
           
            <form action="user/login" method="POST">
                <h2>LOGIN</h2>
                <div>
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" placeholder="email address" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="/register">Register</a></p>
        </div>
    
</div>
</div>
    <script src="/js/script.js"></script>
</body>
</html>
